/* ========== HEADER ========== */
@use '@styles/helpers' as *;

.header {
  --header-py: #{rem(16)};

  position: fixed;
  z-index: var(--z-header);
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition:
    box-shadow var(--transition-duration),
    background-color var(--transition-duration),
    transform var(--transition-duration);

  @include respond-below(md) {
    --header-py: #{rem(12)};
  }

  &._scrolled {
    background-color: var(--color-white);
  }

  &._hidden {
    box-shadow: none;
    transform: translateY(-100%);
  }

  &__wrap {
    position: relative;
    z-index: var(--z-section-inner);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(24);
    padding-block: var(--header-py);
  }

  &__logo {
    position: relative;
    z-index: var(--z-header-inner);
    vertical-align: top;
    transition: opacity var(--transition-duration);

    @include hover {
      opacity: 0.75;
    }

    &:focus-visible,
    &:active {
      opacity: 0.75;
    }

    picture {
      display: contents;
    }

    img {
      vertical-align: top;
      object-fit: contain;
    }
  }

  &__menu {
    @include respond-above(md) {
      flex: 1 0 auto;
    }
  }
}

/* Adaptive Menu */
.menu {
  --menu-arrow-width: 3rem;

  &__btn {
    @include respond-above(md) {
      display: none;
    }

    @include respond-below(md) {
      --btn-size: #{rem(44)};
      --btn-height: calc(var(--btn-size) * 0.6);
      --btn-line-height: calc(var(--btn-size) * 0.05);

      position: relative;
      z-index: var(--z-header-inner);
      display: block;
      border: none;
      width: var(--btn-size);
      height: var(--btn-height);
      background: none;
      color: var(--color-black);
    }

    span,
    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: var(--btn-line-height);
      background-color: currentcolor;
      transform-origin: center;
    }

    &::before,
    &::after {
      content: '';
    }

    &::before {
      top: 0;
      will-change: top, transform;
      transition:
        top var(--transition-duration),
        transform var(--transition-duration);
    }

    &::after {
      bottom: 0;
      will-change: bottom, transform;
      transition:
        bottom var(--transition-duration),
        transform var(--transition-duration);
    }

    &[aria-expanded='true'] {
      &::before {
        top: calc(var(--btn-height) / 2 - var(--btn-line-height) / 2);
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(var(--btn-height) / 2 - var(--btn-line-height) / 2);
        transform: rotate(45deg);
      }

      span {
        transform: scale(0);
      }
    }

    &:not(:disabled) {
      cursor: pointer;
    }

    span {
      top: calc(var(--btn-height) / 2 - var(--btn-line-height) / 2);
      will-change: transform;
      transition: transform var(--transition-duration);
    }
  }

  &__arrow {
    vertical-align: middle;
    border: none;
    background: none;
    font-size: rem(16);
    font-weight: 400;
    line-height: 1;
    color: inherit;

    @include respond-above(md) {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: color var(--transition-duration);
    }

    @include respond-below(md) {
      --arrow-width: var(--menu-arrow-width, 3rem);

      display: inline-flex;
      flex: 0 0 var(--arrow-width);
      align-items: center;
      align-self: stretch;
      justify-content: flex-end;
      width: var(--arrow-width);
      height: auto;
      padding-right: rem(8);
      font-size: calc(var(--menu-arrow-width) * 0.5);
    }

    &::before {
      content: var(--icon-chevron-down);
      display: inline-block;
      font-family: var(--font-icons);
      font-size: 60%;
      will-change: transform;
      transition: transform var(--transition-duration);
    }

    &:not(:disabled) {
      cursor: pointer;
    }
  }

  &__body {
    display: flex;

    @include respond-above(md) {
      align-items: center;
      justify-content: flex-end;
      gap: rem(12) rem(36);
    }

    @include respond-below(md) {
      position: fixed;
      z-index: var(--z-header);
      left: -100%;
      top: 0;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      overflow: hidden auto;
      width: 100%;
      height: 100%;
      padding: calc(var(--header-height, rem(80)) + rem(20)) var(--container-padding) rem(24);
      background-color: var(--color-white);
      color: var(--color-black);
      transition: left 0.5s;
    }

    &[data-state='open'] {
      @include respond-below(md) {
        left: 0;
      }
    }
  }

  &__list {
    @include respond-above(md) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: rem(12) rem(24);
    }

    > li {
      position: relative;

      @include respond-above(md) {
        white-space: nowrap;

        @include hover {
          > a {
            color: var(--color-primary);
          }

          > .menu__arrow {
            color: var(--color-primary);

            &::before {
              transform: rotateX(180deg);
            }
          }

          > .menu__sublist {
            transform: translateY(0%);

            @include show;
          }
        }
      }

      @include respond-below(md) {
        display: flex;
        flex-wrap: wrap;
      }

      &._active {
        @include respond-below(md) {
          > .menu__sublist {
            grid-template-rows: 1fr;
          }

          > .menu__arrow {
            &::before {
              transform: rotateX(180deg);
            }
          }
        }
      }

      &:not(:last-child) {
        @include respond-below(md) {
          border-block-end: rem(1) dashed var(--color-primary);
        }
      }

      > a {
        @include respond-above(md) {
          display: inline-block;
          padding: rem(2) rem(4);
          font-size: rem(16);
          font-weight: 400;
          line-height: 1.2;
          text-transform: capitalize;
          transition: color var(--transition-duration);

          @include hover {
            color: var(--color-primary);
          }

          &:focus-visible,
          &:active {
            color: var(--color-primary);
          }
        }

        @include respond-below(md) {
          flex: 0 0 calc(100% - var(--menu-arrow-width));
          width: calc(100% - var(--menu-arrow-width));
          padding: rem(12) rem(4);
          font-size: rem(24);
          font-weight: 400;
          line-height: 1.2;
          text-transform: capitalize;
          transition: color var(--transition-duration);

          @include hover {
            color: var(--color-primary);
          }

          @include text-truncate;

          &:focus-visible,
          &:active {
            color: var(--color-primary);
          }
        }
      }
    }

    &:not(:last-child) {
      @include respond-below(md) {
        margin-block-end: rem(24);
      }
    }
  }

  &__sublist {
    @include respond-above(md) {
      position: absolute;
      z-index: var(--z-dropdown);
      left: 0;
      transform: translateY(10%);
      transition:
        visibility var(--transition-duration),
        opacity var(--transition-duration),
        transform var(--transition-duration);

      @include hide;
    }

    @include respond-below(md) {
      display: grid;
      flex: 0 0 100%;
      grid-template-rows: 0fr;
      transition: grid-template-rows var(--transition-duration);
    }
  }

  &__btn-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem(8);

    @include respond-below(md) {
      flex-direction: column;
      align-items: stretch;
    }
  }
}

/* Adaptive Menu Sublist */
.menu-sublist {
  @include respond-above(md) {
    background-color: var(--color-white);
    box-shadow: 0 0 1rem rgb(0 0 0 / 15%);
  }

  &__inner {
    overflow: hidden;
  }

  &__pad {
    padding: rem(8) 0;

    @include respond-below(md) {
      padding: rem(4) 0 rem(4) rem(12);
    }
  }

  &__list {
    > li {
      @include respond-below(md) {
        border-top: rem(1) dashed var(--color-primary);
      }

      > a {
        display: block;
        width: 100%;
        min-width: rem(160);
        padding: rem(8) rem(16);
        font-size: rem(16);
        font-weight: 400;
        line-height: 1.2;
        text-transform: capitalize;
        transition: color var(--transition-duration);

        @include hover {
          color: var(--color-primary);
        }

        @include respond-below(md) {
          padding: rem(12) rem(2);
          font-size: rem(20);

          @include text-truncate;
        }

        &:focus-visible,
        &:active {
          color: var(--color-primary);
        }
      }
    }
  }
}
