// styles/ui/accordion.scss

/* ========== Accordion ========== */
@use '@styles/helpers' as *;

.accordion {
  // Btn
  --accordion-btn-border-width: #{rem(1)};
  --accordion-btn-border-color: var(--color-primary);
  --accordion-btn-border-radius: #{rem(4)};
  --accordion-btn-px: #{rem(20)};
  --accordion-btn-py: #{rem(12)};
  --accordion-btn-font-size: #{rem(24)};
  --accordion-btn-font-weight: 500;
  --accordion-btn-line-height: 1.4;

  // Plus
  --accordion-plus-border-radius: #{rem(4)};
  --accordion-plus-width: #{rem(84)};

  // Content
  --accordion-content-px: #{rem(20)};
  --accordion-content-py: #{rem(20)};
  --accordion-content-font-size: #{rem(20)};
  --accordion-content-font-weight: 500;
  --accordion-content-line-height: 1.46;

  overflow: hidden;

  @include respond-below(md) {
    --accordion-plus-width: #{rem(64)};
    --accordion-btn-px: 1rem;
    --accordion-btn-font-size: 1.25rem;
    --accordion-content-padding: 1rem;
    --accordion-content-font-size: 1.125rem;
  }

  @include respond-below(sm) {
    --accordion-plus-width: #{rem(54)};
    --accordion-btn-px: 0.75rem;
    --accordion-btn-font-size: 1.125rem;
    --accordion-content-padding: 0.875rem;
    --accordion-content-font-size: 1rem;
  }

  @include respond-below(xs) {
    --accordion-content-font-size: #{rem(14)};
  }

  &[data-state='open'] {
    .accordion__content {
      grid-template-rows: 1fr;
    }

    .accordion__plus {
      &::after {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(0deg);
      }
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    font-size: var(--accordion-content-font-size);
    font-weight: var(--accordion-content-font-weight);
    line-height: var(--accordion-content-line-height);
    transition: grid-template-rows var(--transition-duration);

    &._active {
      grid-template-rows: 1fr;
    }
  }

  &__content-inner {
    overflow: hidden;
  }

  &__content-pad {
    padding: var(--accordion-content-py) var(--accordion-content-px);

    > *:not(:last-child) {
      margin-block-end: 1em;
    }
  }

  &__btn {
    position: relative;
    outline: none;
    border: var(--accordion-btn-border-width) solid var(--accordion-btn-border-color);
    border-radius: var(--accordion-btn-border-radius);
    width: 100%;
    min-height: var(--accordion-plus-width);
    padding:
      var(--accordion-btn-py)
      calc(var(--accordion-plus-width) + var(--accordion-btn-px))
      var(--accordion-btn-py)
      var(--accordion-btn-px);
    background: none;
    font-size: var(--accordion-btn-font-size);
    font-weight: var(--accordion-btn-font-weight);
    line-height: var(--accordion-btn-line-height);
    text-align: left;
    color: var(--color-black);
    cursor: pointer;
    user-select: none;
    transition:
      background-color var(--transition-duration),
      color var(--transition-duration);

    @include hover {
      color: var(--color-primary);
    }

    &:focus-visible,
    &:active,
    &[aria-expanded='true'] {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }

  &__plus {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: var(--accordion-plus-border-radius);
    width: var(--accordion-plus-width);
    height: 100%;
    background-color: var(--color-primary);
    color: var(--color-white);

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: rem(2);
      width: calc(var(--accordion-plus-width) * 0.4285);
      height: rem(2);
      background-color: var(--color-white);
      transform: translate(-50%, -50%);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
      transition:
        transform var(--transition-duration),
        opacity var(--transition-duration);
    }
  }
}
