<section class="section-cta" aria-labelledby="sectionCtaTitle">
  <div class="section-cta__container container">
    <div class="section-cta__wrap">
      <div class="section-cta__row">
        <div class="section-cta__col section-cta__col--text">
          <div class="section-cta__text">
            <h2 class="section-cta__title" data-aos="fade-right">
              WEST BEAUTY CONFERENCE
            </h2>

            <div
              class="section-cta__desc-text desc-text desc-text--lg"
              data-aos="fade-right"
              data-aos-delay="100"
            >
              <p>
                Це конференція на якій ми зібрали для вас найсильніших beauty-
                експертів та інфлюенсерів України, які будуть ділитися з вами
                своїм багаторічним досвідом!
              </p>
            </div>
          </div>
        </div>

        <div class="section-cta__col section-cta__col--form">
          <form action="#" class="section-cta__form cta-form">
            <div class="cta-form__body">
              <div class="cta-form__groups">
                <div class="cta-form__group">
                  <label for="nameControl" class="sr-only">Name*</label>

                  <div class="cta-form__input input">
                    <input
                      type="text"
                      name="name"
                      id="nameControl"
                      placeholder="Name*"
                    />
                  </div>
                </div>

                <div class="cta-form__group">
                  <label for="phoneControl" class="sr-only">
                    Phone number*
                  </label>

                  <div class="cta-form__input input">
                    <input
                      type="tel"
                      name="phone"
                      id="phoneControl"
                      placeholder="Phone number*"
                    />
                  </div>
                </div>

                <div class="cta-form__group">
                  <label for="eventControl" class="sr-only">Event*</label>

                  <div class="cta-form__input input">
                    <input
                      type="text"
                      name="event"
                      id="eventControl"
                      placeholder="Event*"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="cta-form__footer">
              <button type="submit" class="cta-form__btn btn btn--primary">
                <span>зареєструватися</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
