<section class="section-event" aria-labelledby="sectionAboutEventTitle">
  <div class="section-event__container container">
    <div class="section-event__wrap">
      <h2
        class="section-event__decor-title decor-title"
        id="sectionAboutEventTitle"
        data-aos="fade-up"
      >
        Про подію
      </h2>

      <h3 class="section-event__title" data-aos="fade-up" data-aos-delay="100">
        Опис номінацій
      </h3>

      <div class="section-event__decor event-decor" aria-hidden="true">
        <div
          class="event-decor__dot"
          data-aos="zoom-in"
          data-aos-delay="300"
        ></div>
      </div>

      <ul class="section-event__cards">
        <li data-aos="fade-up" data-aos-delay="0">
          <include
            src="@cards/_event-card.html"
            locals='{ 
              "id": "01",
              "img": "@img/home/event/03.webp",
              "title": "BROW PRO",
              "subtitle": "Чемпіонат з моделювання та фарбування брів",
              "purpose": "підвищення кваліфікації бровистів, відпрацювання швидкості та якості виконання процедури",
              "categories": [
                {  
                  "id": "01",
                  "label": "«All Participants» спеціалісти, які мають практичний досвід роботи і не є членами  Міжнародної асоціації бровистів (ІАВА). Час виконання роботи 40 хв."
                },
                {  
                  "id": "02",
                  "label": "«IABA Members» члени міжнародної асоціації бровистів Level 1 та Level 2 . Час виконання роботи 35 хв."
                }
              ]
            }'
          ></include>
        </li>

        <li data-aos="fade-up" data-aos-delay="100">
          <include
            src="@cards/_event-card.html"
            locals='{ 
              "id": "02",
              "img": "@img/home/event/02.webp",
              "title": "EYEBROW LAMINATION PRO",
              "subtitle": "Чемпіонат з моделювання та фарбування брів",
              "purpose": "підвищення кваліфікації бровистів з ламінування та фарбування брів , відпрацювання швидкості та якості виконання процедури.",
              "categories": [
                {  
                  "id": "01",
                  "label": "«All Participants» спеціалісти, які мають практичний досвід роботи і не є членами  Міжнародної асоціації бровистів (ІАВА). Час виконання роботи 60 хв."
                },
                {  
                  "id": "02",
                  "label": "«IABA Members» члени міжнародної асоціації бровистів Level 1 та Level 2 . Час виконання роботи 50 хв."
                }
              ]
            }'
          ></include>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <include
            src="@cards/_event-card.html"
            locals='{ 
              "id": "03",
              "img": "@img/home/event/01.webp",
              "title": "EYELASH LAMINATION PRO",
              "subtitle": "Чемпіонат з моделювання та фарбування брів",
              "purpose": "підвищення кваліфікації ламімейкерів, відпрацювання швидкості та якості виконання процедури, можливість підтвердити свій професійний статус.",
              "categories": [
                {  
                  "id": "01",
                  "label": "«All Participants» спеціалісти, які мають практичний досвід роботи і не є членами  Міжнародної асоціації бровистів (ІАВА). Час виконання роботи 60 хв."
                },
                {  
                  "id": "02",
                  "label": "«IABA Members» члени міжнародної асоціації бровистів Level 1 та Level 2 . Час виконання роботи 50 хв."
                }
              ]
            }'
          ></include>
        </li>
      </ul>

      <ul class="section-event__accordions" data-accordion-group>
        <li data-aos="fade-up" data-aos-delay="0">
          <div class="accordion" data-accordion>
            <button type="button" class="accordion__btn" data-accordion-btn>
              <span class="accordion__btn-text">
                ЗАГАЛЬНІ ПРОВИЛА ЧЕМПІОНАТУ
              </span>

              <span
                class="accordion__plus"
                aria-hidden="true"
                data-accordion-plus
              ></span>
            </button>

            <div class="accordion__content" data-accordion-content>
              <div class="accordion__content-inner">
                <div class="accordion__content-pad">
                  <div class="desc-text">
                    <p>
                      Учасник готує свою модель для виходу на конкурсне поле:
                      робить нюдовий макіяж і зібрану зачіску, (волосся не має
                      бути на обличчі) а також контролює її акуратний зовнішній
                      вигляд.
                    </p>

                    <p>
                      Дозволяється метод моделювання форми брів із використанням
                      пінцету та воску ÉLAN Professional line для брів.
                    </p>

                    <p>
                      Фарбування та ламінування брів та вій виконується тільки
                      продуктами ÉLAN Professional Line, брови моделі в
                      результаті виконаної процедури мають бути нaтуральним
                      відтінком, вії щ безпечним завитком.
                    </p>

                    <p>
                      У процесі роботи дозволяється використання олівця для
                      брів, але фінальна робота має бути представлена без
                      використання засобів декоративної косметики, крім
                      прозорого гелю та консилера для камуфлювання почервоніння
                      на шкірі після корекції; вії мають бути сухі.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="100">
          <div class="accordion" data-accordion>
            <button type="button" class="accordion__btn" data-accordion-btn>
              <span class="accordion__btn-text">
                ВИМОГИ ДО ЗОВНІШНЬОГО ВИДУ МОДЕЛІ
              </span>

              <span
                class="accordion__plus"
                aria-hidden="true"
                data-accordion-plus
              ></span>
            </button>

            <div class="accordion__content" data-accordion-content>
              <div class="accordion__content-inner">
                <div class="accordion__content-pad">
                  <div class="desc-text">
                    <p>Вік: до 25 років.</p>

                    <p>Волосся зібране в хвіст або пучок.</p>

                    <p>
                      Одяг: чорні штани або спідниця міді, чорне взуття,
                      брендована футболка (надає організатор).
                    </p>

                    <p>Відсутність яскравих прикрас та аксесуарів.</p>

                    <p>
                      Брови повинні мати натуральний вигляд і мінімум два тижні
                      не піддаватися корекції та фарбуванню.
                    </p>

                    <p>Заборонено перманентний макіяж (татуаж).</p>

                    <p>
                      З декоративної косметики дозволяється: тональний засіб,
                      легка вилицева корекція, рум'яна, безбарвний блиск для
                      губ.
                    </p>

                    <p>
                      Моделі, зовнішній вигляд яких не відповідатиме вимогам
                      чемпіонату, не будуть допущені до конкурсної зони заходу.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <div class="accordion" data-accordion>
            <button type="button" class="accordion__btn" data-accordion-btn>
              <span class="accordion__btn-text">
                КРИТЕРІЇ ОЦІНЮВАННЯ РОБОТИ
              </span>

              <span
                class="accordion__plus"
                aria-hidden="true"
                data-accordion-plus
              ></span>
            </button>

            <div class="accordion__content" data-accordion-content>
              <div class="accordion__content-inner">
                <div class="accordion__content-pad">
                  <div class="desc-text">
                    <p>
                      Загальне враження «ДО та ПІСЛЯ» моделювання та фарбування
                      брів, ламінування та фарбування брів, ламінування та
                      фарбування вій (естетичний вигляд моделі).
                    </p>

                    <p>Форма - симетричність та відповідність форми брів.</p>

                    <p>Пірбір кольору, підбір валиків</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
