<section class="section-pricing" aria-labelledby="sectionPricingTitle">
  <div class="section-pricing__container container">
    <div class="section-pricing__wrap">
      <h2
        class="section-pricing__decor-title decor-title decor-title--purple"
        data-aos="fade-right"
      >
        Ціни
      </h2>

      <h3
        class="section-pricing__title h2"
        id="sectionPricingTitle"
        data-aos="fade-right"
        data-aos-delay="100"
      >
        Вибери свій тариф
      </h3>

      <ul class="section-pricing__cards">
        <li data-aos="fade-up" data-aos-delay="0">
          <include
            src="@cards/_pricing-card.html"
            locals='{ 
              "id": "01",
              "variant": "green",
              "type": "STANDARD",
              "price": "2200 грн",
              "items": [
                {
                  "id": "01",
                  "label": "Участь в 1 Номінації"
                },
                {
                  "id": "02",
                  "label": "Сертифікат учасника"
                },
                {
                  "id": "03",
                  "label": "Фуршет"
                }
              ]
            }'
          ></include>
        </li>

        <li data-aos="fade-up" data-aos-delay="100">
          <include
            src="@cards/_pricing-card.html"
            locals='{ 
              "id": "02",
              "variant": "orange",
              "type": "PRO DUO",
              "price": "3800 грн",
              "items": [
                {
                  "id": "01",
                  "label": "Участь в 2 номінаціях"
                },
                {
                  "id": "02",
                  "label": "Сертифікат учасника"
                },
                {
                  "id": "03",
                  "label": "Фуршет"
                },
                {
                  "id": "04",
                  "label": "Знижка -10% на вхід на конференцію"
                }
              ]
            }'
          ></include>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <include
            src="@cards/_pricing-card.html"
            locals='{ 
              "id": "03",
              "variant": "purple",
              "type": "ALL-IN",
              "price": "5500 грн",
              "items": [
                {
                  "id": "01",
                  "label": "Участь в усіх 3 номінаціях"
                },
                {
                  "id": "02",
                  "label": "Сертифікат учасника"
                },
                {
                  "id": "03",
                  "label": "Фуршет"
                },
                {
                  "id": "04",
                  "label": "Безкоштовний вхід на конференцію"
                }
              ]
            }'
          ></include>
        </li>
      </ul>
    </div>
  </div>
</section>
