<section class="section-pricing" aria-labelledby="sectionPricingTitle">
  <div class="section-pricing__container container">
    <div class="section-pricing__wrap">
      <h2
        class="section-pricing__decor-title decor-title decor-title--purple"
        data-aos="fade-right"
      >
        Ціни
      </h2>

      <h3
        class="section-pricing__title h2"
        id="sectionPricingTitle"
        data-aos="fade-right"
        data-aos-delay="100"
      >
        Вибери свій тариф
      </h3>

      <ul class="section-pricing__cards">
        <li data-aos="fade-up" data-aos-delay="200">
          <include
            src="@cards/_pricing-card.html"
            locals='{ 
              "id": "01",
              "variant": "green",
              "type": "basic pass",
              "price": "$260.00",
              "items": [
                {
                  "id": "01",
                  "label": "Networking opportunities"
                },
                {
                  "id": "02",
                  "label": "Event materials"
                },
                {
                  "id": "03",
                  "label": "All benefits of the Workshop Pass"
                },
                {
                  "id": "04",
                  "label": "Front-row seating in all sessions"
                },
                {
                  "id": "05",
                  "label": "VIP lounge access"
                },
                {
                  "id": "06",
                  "label": "Premium event swag bag",
                  "disabled": "true"
                },
                {
                  "id": "07",
                  "label": "Valid student ID required",
                  "disabled": "true"
                },
                {
                  "id": "08",
                  "label": "Networking opportunities",
                  "disabled": "true"
                },
                {
                  "id": "09",
                  "label": "Event materials",
                  "disabled": "true"
                }
              ]
            }'
          ></include>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <include
            src="@cards/_pricing-card.html"
            locals='{ 
              "id": "02",
              "variant": "orange",
              "type": "silver pass",
              "price": "$420.00",
              "items": [
                {
                  "id": "01",
                  "label": "Networking opportunities"
                },
                {
                  "id": "02",
                  "label": "Event materials"
                },
                {
                  "id": "03",
                  "label": "All benefits of the Workshop Pass"
                },
                {
                  "id": "04",
                  "label": "Front-row seating in all sessions"
                },
                {
                  "id": "05",
                  "label": "VIP lounge access"
                },
                {
                  "id": "06",
                  "label": "Premium event swag bag"
                },
                {
                  "id": "07",
                  "label": "Valid student ID required"
                },
                {
                  "id": "08",
                  "label": "Networking opportunities",
                  "disabled": "true"
                },
                {
                  "id": "09",
                  "label": "Event materials",
                  "disabled": "true"
                }
              ]
            }'
          ></include>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <include
            src="@cards/_pricing-card.html"
            locals='{ 
              "id": "03",
              "variant": "purple",
              "type": "golden pass",
              "price": "$580.00",
              "items": [
                {
                  "id": "01",
                  "label": "Networking opportunities"
                },
                {
                  "id": "02",
                  "label": "Event materials"
                },
                {
                  "id": "03",
                  "label": "All benefits of the Workshop Pass"
                },
                {
                  "id": "04",
                  "label": "Front-row seating in all sessions"
                },
                {
                  "id": "05",
                  "label": "VIP lounge access"
                },
                {
                  "id": "06",
                  "label": "Premium event swag bag"
                },
                {
                  "id": "07",
                  "label": "Valid student ID required"
                },
                {
                  "id": "08",
                  "label": "Networking opportunities"
                },
                {
                  "id": "09",
                  "label": "Event materials"
                }
              ]
            }'
          ></include>
        </li>
      </ul>
    </div>
  </div>
</section>
