<section class="section-speaker" aria-labelledby="sectionSpeakerTitle">
  <div class="section-speaker__container container">
    <div class="section-speaker__wrap">
      <h2
        class="section-speaker__decor-title decor-title decor-title--purple"
        data-aos="fade-up"
      >
        Спікери та Теми
      </h2>

      <h3
        class="section-speaker__title h2"
        id="sectionSpeakerTitle"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        НАЙМАСШТАБНІША BEAUTY КОНФЕРЕНЦІЯ ЗАХІДНОЇ УКРАЇНИ
      </h3>

      <div
        class="section-speaker__desc-text desc-text desc-text--lg"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <p>
          <strong>Ціль конференції</strong> — підняти рівень індустрії брів та
          вій, об’єднавши найкращих спеціалістів, техніки та досвід в одному
          просторі. Ми створюємо подію, де майстри отримують актуальні знання,
          практичні інструменти і натхнення, щоб працювати якісніше, заробляти
          більше та розвивати свій професійний бренд.
        </p>
      </div>

      <ul class="section-speaker__cards">
        <li data-aos="fade-up" data-aos-delay="0">
          <include
            src="@cards/_speaker-card.html"
            locals='{ 
              "id": "01",
              "img": "@img/home/speaker/01.webp",
              "name": "Coming Soon",
              "role": "????",
              "variant": "purple"
            }'
          ></include>
        </li>

        <li data-aos="fade-up" data-aos-delay="100">
          <include
            src="@cards/_speaker-card.html"
            locals='{ 
              "id": "02",
              "img": "@img/home/speaker/02.webp",
              "name": "Coming Soon",
              "role": "????",
              "variant": "orange"
            }'
          ></include>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <include
            src="@cards/_speaker-card.html"
            locals='{ 
              "id": "03",
              "img": "@img/home/speaker/03.webp",
              "name": "Coming Soon",
              "role": "????",
              "variant": "green"
            }'
          ></include>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <include
            src="@cards/_speaker-card.html"
            locals='{ 
              "id": "04",
              "img": "@img/home/speaker/04.webp",
              "name": "Coming Soon",
              "role": "????",
              "variant": "pink"
            }'
          ></include>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <include
            src="@cards/_speaker-card.html"
            locals='{ 
              "id": "05",
              "img": "@img/home/speaker/05.webp",
              "name": "Coming Soon",
              "role": "????",
              "variant": "purple"
            }'
          ></include>
        </li>
      </ul>
    </div>
  </div>
</section>
