<section class="section-speaker" aria-labelledby="sectionSpeakerTitle">
  <div class="section-speaker__container container">
    <div class="section-speaker__wrap">
      <h2
        class="section-speaker__decor-title decor-title decor-title--purple"
        data-aos="fade-up"
      >
        speaker
      </h2>

      <h3
        class="section-speaker__title h2"
        id="sectionSpeakerTitle"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        meet our speaker
      </h3>

      <ul class="section-speaker__cards">
        <li data-aos="fade-up" data-aos-delay="0">
          <include
            src="@cards/_speaker-card.html"
            locals='{ 
              "id": "01",
              "img": "@img/home/speaker/01.jpg",
              "name": "Brooklyn Simmons",
              "role": "product designer",
              "variant": "purple"
            }'
          ></include>
        </li>

        <li data-aos="fade-up" data-aos-delay="100">
          <include
            src="@cards/_speaker-card.html"
            locals='{ 
              "id": "01",
              "img": "@img/home/speaker/01.jpg",
              "name": "Brooklyn Simmons",
              "role": "product designer",
              "variant": "orange"
            }'
          ></include>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <include
            src="@cards/_speaker-card.html"
            locals='{ 
              "id": "01",
              "img": "@img/home/speaker/01.jpg",
              "name": "Brooklyn Simmons",
              "role": "product designer",
              "variant": "green"
            }'
          ></include>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <include
            src="@cards/_speaker-card.html"
            locals='{ 
              "id": "01",
              "img": "@img/home/speaker/01.jpg",
              "name": "Brooklyn Simmons",
              "role": "product designer",
              "variant": "pink"
            }'
          ></include>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <include
            src="@cards/_speaker-card.html"
            locals='{ 
              "id": "01",
              "img": "@img/home/speaker/01.jpg",
              "name": "Brooklyn Simmons",
              "role": "product designer",
              "variant": "purple"
            }'
          ></include>
        </li>
      </ul>
    </div>
  </div>
</section>
