/* ========== RADIO ========== */
@use '@styles/helpers' as *;

.radio {
  --control-gap: 1rem;
  --control-mark-border-width: #{rem(1)};
  --control-mark-border-color: var(--color-black);
  --control-mark-size: #{rem(24)};

  position: relative;
  display: flex;
  column-gap: var(--control-gap);
  user-select: none;

  @include hover {
    &:has(input:not(:disabled)) {
      --control-mark-border-color: var(--color-primary);
    }
  }

  &.radio--sm {
    --control-gap: #{rem(12)};
    --control-mark-size: #{rem(20)};
  }

  &.radio--lg {
    --control-gap: #{rem(20)};
    --control-mark-size: #{rem(28)};
  }

  input[type='radio'] {
    @include sr-only;

    &:disabled {
      ~ .radio__mark,
      ~ .radio__text {
        opacity: 0.75;
      }
    }

    &:not(:disabled) {
      &:focus-visible ~ .radio__mark {
        outline: rem(2) solid var(--color-primary);
        outline-offset: rem(2);
      }

      ~ .radio__mark,
      ~ .radio__text {
        cursor: pointer;
      }
    }

    &:checked {
      ~ .radio__mark {
        &::after {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }

  &__mark {
    position: relative;
    display: block;
    flex: 0 0 var(--control-mark-size);
    border: var(--control-mark-border-width) solid var(--control-mark-border-color);
    border-radius: var(--control-mark-size);
    width: var(--control-mark-size);
    height: var(--control-mark-size);
    min-width: var(--control-mark-size);
    background-color: var(--color-white);
    transition: border-color var(--transition-duration);

    &::after {
      --size: 60%;

      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: var(--size);
      width: var(--size);
      height: var(--size);
      background-color: var(--color-primary);
      transform: translate(-50%, -50%) scale(0);
      will-change: transform;
      transition: transform var(--transition-duration);
    }
  }

  &__text {
    flex: 1 1 auto;
    align-self: center;
    min-width: 0;
  }
}
