<footer class="footer" role="contentinfo">
  <div class="footer__container container">
    <div class="footer__wrap">
      <div class="footer__top footer-top">
        <div class="footer-top__row">
          <div class="footer-top__col">
            <a href="/" class="footer-top__logo">
              <img
                src="assets/img/logo.svg"
                alt="West Beauty Event Logo, to the homepage"
                width="195"
                height="48"
                loading="lazy"
                decoding="async"
              />
            </a>

            <div class="footer-top__info">
              <p>
                Join us for a transformative experience at our upcoming
                conference! Discover cutting-edge insights, network with
                industry.
              </p>
            </div>

            <ul class="footer-top__soc soc">
              <li>
                <a
                  href="http://#"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Share on Facebook"
                >
                  <i class="icon-facebook"></i>
                </a>
              </li>

              <li>
                <a
                  href="http://#"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Share on Instagram"
                >
                  <i class="icon-instagram"></i>
                </a>
              </li>

              <li>
                <a
                  href="http://#"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Share on Youtube"
                >
                  <i class="icon-youtube"></i>
                </a>
              </li>
            </ul>
          </div>

          <div class="footer-top__col">
            <div class="footer-top__group footer-group">
              <h3 class="footer-group__title">Important Links</h3>

              <nav class="footer-group__nav">
                <ul class="footer-group__menu">
                  <li>
                    <a href="#">About Event</a>
                  </li>
                  <li>
                    <a href="#">Testimonial</a>
                  </li>
                  <li>
                    <a href="#">Event Schedule</a>
                  </li>
                  <li>
                    <a href="#">Shop Page</a>
                  </li>
                  <li>
                    <a href="#">Contact Us</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="footer-top__col">
            <div class="footer-top__group footer-group">
              <h3 class="footer-group__title">Our Services</h3>

              <nav class="footer-group__nav">
                <ul class="footer-group__menu">
                  <li>
                    <a href="#">Get Tickets</a>
                  </li>
                  <li>
                    <a href="#">Sponsor</a>
                  </li>
                  <li>
                    <a href="#">Event Speaker</a>
                  </li>
                  <li>
                    <a href="#">Our Gallery</a>
                  </li>
                  <li>
                    <a href="#">Latest News</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="footer-top__col">
            <div class="footer-top__group footer-group">
              <h3 class="footer-group__title">Information:</h3>

              <ul class="footer-group__metas">
                <li>28-30th of September</li>
                <li>Santee, California(CA).</li>
              </ul>

              <button class="footer-group__btn btn btn--primary">
                <span>Buy a ticket</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="footer__bottom footer-bottom">
        <small class="footer-bottom__copyright">
          © Copyright 2025 | WEST BEAUTY EVENT - Event & Conference | All right
          reserved.
        </small>
      </div>
    </div>
  </div>
</footer>
