<header class="header [[classes]]">
  <div class="header__container container">
    <div class="header__wrap">
      <a href="/" class="header__logo">
        <!-- <img
          src="assets/img/logo.svg"
          alt="ProjectName Logo, to the homepage"
          width="100"
          height="64"
          fetchpriority="high"
        /> -->

        <span>LOGO</span>
      </a>

      <include
        src="@layout/_menu.html"
        locals='{ "bemClasses": "header__menu" }'
      ></include>
    </div>
  </div>
</header>
