// ========== Section General ========== //
@use '@styles/helpers' as *;

.section {
  --section-py: #{rem(48)};

  &__wrap {
    position: relative;
    z-index: var(--z-section-inner);
    padding-block: var(--section-py);
  }

  &__header {
    --mb: #{rem(20)};

    &:not(:last-child) {
      margin-block-end: var(--mb);
    }
  }

  &__body {
    --mb: #{rem(32)};

    &:not(:last-child) {
      margin-block-end: var(--mb);
    }

    > *:not(:last-child) {
      margin-block-end: rem(16);
    }
  }

  &__btn-box {
    display: flex;
    flex-wrap: wrap;
    gap: rem(12);
  }
}
