// ========== SIZES ========== //
$sizes: (
  '0': 0,
  '1': 0.25rem,
  '2': 0.5rem,
  '3': 0.75rem,
  '4': 1rem,
  '5': 1.25rem,
  '6': 1.5rem,
  '7': 1.75rem,
  '8': 2rem,
  '9': 2.25rem,
  '10': 2.5rem,
  '12': 3rem,
  '16': 4rem,
  '20': 5rem,
  '25': 25%,
  '50': 50%,
  '100': 100%,
);

@each $size, $value in $sizes {
  .mb-#{$size} {
    margin-block-end: $value;
  }
}

// ========== TEXT-TRANSFORMS ========== //
$transforms: capitalize, uppercase, lowercase;

@each $transform in $transforms {
  .#{$transform} {
    text-transform: $transform;
  }
}

// ========== TEXT-ALIGNS ========== //
$aligns: left, center, right;

@each $align in $aligns {
  .text-#{$align} {
    text-align: $align;
  }
}
