// ========== NORMALIZE ========== //
html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;

  // Для уникнення стрибка інтерфейсу по горизонталі при появі/зникненні скролбара
  scrollbar-gutter: stable;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main,
header,
footer {
  display: block;
}

hr {
  overflow: visible;
  height: 0;
}

:where(ul[class]) {
  list-style: none;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

a {
  display: inline-block;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

b,
strong {
  font-weight: 700;
}

code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

img {
  vertical-align: middle;
  shape-margin: 1rem;
  height: auto;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0.75rem;
  font-style: italic;
}

video {
  max-width: 100%;
  height: auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  display: table;
  max-width: 100%;
  white-space: normal;
  color: inherit;
}

textarea {
  overflow: auto;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

[hidden] {
  display: none;
}

[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

/**
  Видаляємо анімації і переходи якщо вони вимкнуті 
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// p {
//   --mb: 1rem;
// }

// p:where(:not([class]):not(:last-child)) {
//   margin-block-end: var(--mb);
// }
